@import url("https://cdn.tailwindcss.com");

.mantine-1g34wzq {
  height: 2.5rem !important;
  background-color: rgb(243 244 246) !important;
  border-color: #e5e7eb !important;
  --tw-bg-opacity: 1;
}

.add-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
}
