/* @import url("https://cdn.tailwindcss.com"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

.mantine-1g34wzq {
  height: 2.2rem !important;
  background-color: rgb(243 244 246) !important;
  border-color: #e5e7eb !important;
  --tw-bg-opacity: 1;
}

button {
  height: 2.2rem !important;
}

.add-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
}

.login-bg {
  background-image: url("/img/login_bg.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding: 20px !important;
  height: 95vh !important;
}
